body {
    font-family: Arial, sans-serif;
    padding: 0;
  }
  label, textarea, input, button {
    display: block;
    margin-top: 1em;
    width: 100%;
    max-width: 600px;
  }
  .flex-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  #lineNumbers {
    text-align: right;
    user-select: none;
    color: gray;
    padding-right: 10px;
  }

  .content {
    padding: 2em;
    max-width: 1000px;
    margin: 0 auto;
  }  
  

  textarea {
    background: repeating-linear-gradient(
      to bottom,
      white,
      white 1.6em,
      #eee 1.6em,
      #eee 1.7em
    );
    line-height: 1.7em;
    font-family: monospace;
    resize: vertical;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
  }
  
  button {
    width: 100%;
    max-width: 800px;
    padding: 0.8em;
    font-size: 1rem;
    cursor: pointer;
    background-color: #e0e0e0;
    color: black;

  }
  